body,
span {
    font-size: 9px;
}

body {
    margin: 0;
}

#main {
    width: 700px;
    max-width: 700px;
}

h3 {
    font-size: 17px;
}

.form-control-static {
    font-size: 9px !important;
    padding: 0 !important;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
    padding: 3px;
}

@media print {
    body,
    span {
        font-size: 9px;
    }
    #main {
        width: 700px;
        max-width: 700px;
    }
    h3 {
        font-size: 17px;
    }
    .form-control-static {
        font-size: 9px !important;
        padding: 0 !important;
    }
    .table-bordered>thead>tr>th,
    .table-bordered>tbody>tr>th,
    .table-bordered>tfoot>tr>th,
    .table-bordered>thead>tr>td,
    .table-bordered>tbody>tr>td,
    .table-bordered>tfoot>tr>td {
        border: 1px solid #ddd;
        padding: 3px;
    }
    .breakPage {
        page-break-before: always;
    }
}

select {
    background-color: transparent;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: none;
    word-wrap: break-word;
    width: 100%;
}

.progress {
    height: 20px !important;
}

.progress>.progress-bar {
    padding-top: 0 !important;
    font-size: 9px;
}

.select2-drop,
.select2-search-field {
    display: none;
}

ul {
    padding-left: 25px;
}

.table>tbody>tr>td {

    border-bottom: 1px solid #ddd;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: center;
}
