<div layout="column" layout-gt-xs="row" layout-padding>
   <!--  <pre>{{baseEntity | json}}</pre> -->
    <div layout="column" flex>
        <div layout="row">
            <md-input-container flex>
                <label>Area</label>
                <md-select ng-model="baseEntity.Level1Key">
                    <md-option ng-value="opt.id" ng-repeat="opt in theAreas">{{ opt.Value }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Cetification Name</label>
                <md-select ng-model="baseEntity.CertificationKey" required>
                    <md-option ng-value="opt.id" ng-repeat="opt in Certifications">{{ opt.Value }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Trainer Name</label>
                <input type="text" ng-model="baseEntity.Trainer" required>
            </md-input-container>
            <md-input-container style="width: 250px;">
                <label>Internal or External Trainer</label>
                <md-select ng-model="baseEntity.InternalExternal" required>
                    <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
                    <md-option ng-value="opt" ng-repeat="opt in ['Internal','External']">{{ opt }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Start Training </label>
                <md-datepicker ng-model="baseEntity.ConvertedDateStart" required></md-datepicker>
            </md-input-container>
            <md-input-container flex>
                <label>End Training</label>
                <md-datepicker ng-model="baseEntity.ConvertedDateEnd" required></md-datepicker>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Certification Date</label>
                <md-datepicker ng-model="baseEntity.ConvertedDateCertification" required></md-datepicker>
            </md-input-container>
            <md-input-container flex>
                <label>Expire Date</label>
                <md-datepicker ng-model="baseEntity.ConvertedDateExpiresAt" required></md-datepicker>
            </md-input-container>
        </div>
        <div layout="column">
            <label>Área temática del curso 2</label>
            <p>{{baseEntity.CatCertification.ThematicArea}}</p>
            <md-input-container>
                <label>Duration in hours</label>
                <input type="text" ng-model="baseEntity.DurationInHours">
            </md-input-container>
            <md-input-container>
                <label>Notes</label>
                <textarea ng-model="baseEntity.Notes"></textarea>
            </md-input-container>
        </div>
    </div>
    <div layout="column" flex>
        <training-score-list></training-score-list>
    </div>
</div>
